@import "../../assets/sass/variables";

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  display: inline-block;
  width: $spinner-width;
  height: $spinner-height;
  border: $spinner-border-width solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  vertical-align: text-bottom;
  animation: spinner-border .75s linear infinite;

  &.loader-sm {
    width: $spinner-width-sm;
    height: $spinner-height-sm;
    border-width: $spinner-border-width-sm;
  }
}
