@import '../../assets/sass/variables';

.form-group {
  margin-bottom: 1rem;

  label {
    font-size: $input-label-font-size;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0.125rem;

    &.is-invalid {
      color: $danger;
    }

    &.disabled {
      color: $gray;
    }
  }

  input {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.5rem + 2px);
    padding: 0.75rem 0.9375rem;
    font-size: $input-font-size;
    font-weight: 400;
    line-height: 1.5;
    color: $dark;
    background-color: $input-background-color;
    background-clip: padding-box;
    border: 1px solid $input-border-color;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &.is-invalid {
      border-color: $danger;
    }

    &:focus {
      color: $dark;
      background-color: $input-background-color;
      border-color: $primary-color;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.25);
    }

    &:disabled{
      color: $gray;
    }
  }

  .invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.75rem;
    color: $danger;
  }
}
