@import '../../assets/sass/variables';

.btn {
  padding: 0.5625rem 1rem;
  font-size: $button-font-size;
  letter-spacing: 0.27em;
  text-transform: uppercase;
  background-color: $button-color;
  border: 1px solid $button-border-color;
  color: $button-text-color;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
  border-radius: 0;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

  &:hover {
    border-color: $button-hover-color;
    background-color: $button-hover-color;
  }

  &.btn-block {
    display: block;
    width: 100%;
  }

  &:focus {
    outline: 0;
    color: #fff;
    background-color: $button-color;
    border-color: $button-border-color;
    box-shadow: 0 0 0 0.2rem rgba($button-border-color, 0.5);
  }

  &:disabled {
    opacity: .7;
    pointer-events: none;
  }

  span {
    padding: 0 5px;
  }
}
