@import "../../assets/sass/variables";

.ToolBar {
  width: 100%;
  background: $primary-color;
  color: $white;
  padding: 1rem 0;

  .toolbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .brand {
    font-size: $font-size-brand;
  }
}
