@import '../../assets/sass/variables';

.table {
  width: 100%;
  background: #fff;
  margin: 1em 0;
  border: 1px solid rgba(34, 36, 38, .15);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: .28571429rem;
  text-align: left;
  color: rgba(0, 0, 0, .87);
  border-collapse: separate;
  border-spacing: 0;

  &:last-child {
    margin-bottom: 0;
  }

  tr:first-child > th:first-child {
    border-radius: .28571429rem 0 0 0;
  }

  tr th {
    border-left: 1px solid rgba(34, 36, 38, .1);
  }

  tr:first-child td {
    border-top: none;
  }

  tr td {
    border-left: 1px solid rgba(34, 36, 38, .1);
    border-bottom: 1px solid rgba(34, 36, 38, .1);

  }

  td {
    padding: .78571429em .78571429em;
    text-align: inherit;
  }

  thead {
    box-shadow: none;

    tr.sorted-tr {
      img {
        width: 10px;
        height: 10px;
        margin-left: 5px;
      }

      th {
        transition: background-color 0.15s ease-in-out;

        &:hover {
          background: $gray;
        }

        div {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }

    th {
      cursor: pointer;
      background: #f9fafb;
      text-align: inherit;
      color: rgba(0, 0, 0, .87);
      padding: .92857143em .78571429em;
      vertical-align: inherit;
      font-weight: 700;
      text-transform: none;
      border-bottom: 1px solid rgba(34, 36, 38, .1);
    }
  }
}
