@import 'variables';

.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;

  @media only screen and (min-width: 460px) {
    width: 80%;
  }
}

.spacer {
  height: 1px;
  margin: 24px 0;
}

.centered {
  text-align: center;
}

.card {
  max-width: 500px;
  margin: auto;
  width: 100%;
  box-shadow: 0 0 16px -5px rgba(0, 0, 0, 0.45);

  .card-header {
    background: $primary-color;
    color: $white;
    padding: 32px 24px;
    font-size: $font-size-brand;
    text-align: center;
  }

  .card-body {
    padding: 24px;
  }

  .card-actions {
    border-top: 1px solid $light;
    margin-top: 12px;
    padding: 24px;
  }

}
