// colors

$primary-color: #1abc9c;
$primary-color-dark: #16a085;
$secondary: #858585;
$danger: #ff4e63;

$white:    #fff;
$gray-100: #f7f7f7;
$gray-200: #e6e6e6;
$gray-300: #d6d6d6;
$gray-400: #c6c6c6;
$gray-500: #adb5bd;
$gray-600: #858585;
$gray-700: #686868;
$gray-800: #333333;
$gray-900: #212529;
$black:    #000;

$gray: $gray-500;
$light: #e4e4e4;
$dark: $gray-800;

$text-dark: $dark;
$text-white: $white;

$font-size-base: 1rem;
$font-size-extra-large: $font-size-base * 1.125;
$font-size-large: $font-size-base;
$font-size-body: $font-size-base * 0.875;

$font-size-brand: $font-size-base * 2;

//Forms

$input-label-font-size: 0.8125rem;
$input-font-size: $font-size-base;
$input-background-color: $gray-100;
$input-border-color: $gray-200;

//Buttons

$button-font-size: 0.6865rem;
$button-color: $primary-color;
$button-border-color: $primary-color-dark;
$button-hover-color: $primary-color-dark;
$button-text-color: $white;

// Spinners

$spinner-width:         2rem;
$spinner-height:        $spinner-width;
$spinner-border-width:  .25em;
$spinner-border-secondary-color: $gray-100;

$spinner-width-sm:        1rem;
$spinner-height-sm:       $spinner-width-sm;
$spinner-border-width-sm: .2em;

$spinner-width-lg:        4rem;
$spinner-height-lg:       $spinner-width-lg;
$spinner-border-width-lg: .267em;

$spinner-cloak-bg:        rgba($white, 0.5);
